*.iml
.gradle
/local.properties
/.idea
.idea
*.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.ser
*.jks
*.keystore
.gradle/
build/
proguard/
*.log
.idea/*
bin/
gen/
out/
